.textColor {
  color: #fff;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}
.navbar-brand-style {
  color: #fff !important;
  font-weight: 600;
}
.fa-github {
  margin: 0px 20px;
}
